*{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.loaders{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}
.loader{
    background-color: turquoise;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 20px;
    animation-iteration-count: infinite;
    animation-name: loader-one;
    animation-duration: 0.9s;
    
}
.loader-2{
    animation-name: loader-one;
    animation-delay: 0.3s;
    animation-timing-function: linear;
}
.loader-3{
    animation-name: loader-one;
    animation-delay: 0.6s;
    animation-timing-function: linear;
}

@keyframes loader-one{
    0%, 100%{
        -webkit-transform: scale(1);
    }
    33%{
        -webkit-transform: scale(1.5);
    }
}


