*{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.loaders{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.loader-1{
    background-color: rgb(43, 40, 40);
    border: 2px solid transparent;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation: loading 2s linear infinite;
    /* transition: width 3s ease 1s; */

    transition-property: width;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0, 1.0,6);
    transition-delay: 1s;
    transform: scale(1.1);
}

/* .loaders:nth-child(2) {
    animation-delay: 0.1s;
  }
  .loaders:nth-child(3) {
    animation-delay: 0.2s;
  }
  .loaders:nth-child(3) {
    animation-delay: 0.3s;
  } */
.loader-2{
    background-color: rgb(43, 40, 40);
    border: 2px solid transparent;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation: loading 3s linear infinite;
    transition: width 3s ease-in 4s;
}
.loader-3{
    background-color: rgb(43, 40, 40);
    border: 2px solid transparent;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation: loading 5s linear infinite;
    animation-direction: alternate;
    transition: width 3s ease-in 5s ;
}
@keyframes loading{
    0%{
        transform: scale(0);
        background-color: rgb(43, 40, 40);
    }
    
   70%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}
/* @keyframes loader */